{% extends "layout.html" %}
{% block body %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">

                    <div class="hero__item set-bg" data-setbg="{{ url_for("static", filename="img/main_pic.jpg") }}">
                        <div class="hero__text text-center">
                            <span>עידן הבשר</span>
                            <h2>בשר איכותי  <br /> ומשובח</h2>
                            <p>משלוחים ואיסוף במקום</p>
                            <a href="#" class="primary-btn">קנה עכשיו</a>
                        </div>
                    </div>
                </div>
                <div  class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span class="float-right ">כל המחלקות</span>
                        </div>
                        <ul>
                            <li class = "custom_li"><a href="{{ url_for('main.tale') }}">טלה</a></li>
                            <li class = "custom_li"><a href="#">עוף</a></li>
                            <li class = "custom_li"><a href="#">הודו</a></li>
                            <li class = "custom_li"><a href="#">אווז</a></li>
                            <li class = "custom_li"><a href="#">טחונים</a></li>
                            <li class = "custom_li"><a href="#">סטייקים</a></li>
                            <li class = "custom_li"><a href="#">מוצרים אורגניים</a></li>
                            <li class = "custom_li"><a href="#">דלי שומן</a></li>
                            <li class = "custom_li"><a href="#">מוצרים יוקרתיים</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>מבצעי השבוע</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">הכל</li>
                            <li data-filter=".fresh-meat">מוצרים נלווים</li>
                            <li data-filter=".fastfood">בשרים</li>
                            <li data-filter=".oranges">עופות</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="product__item" data-product_id="1" data-product_price="9.99"  data-quantity="0" product_name="סטייק טלה">
                        <div class="product__item__pic set-bg" data-setbg="{{ url_for("static", filename="img/tale/3.jfif") }}">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">סטייק טלה</a></h6>
                            <h5>10.00</h5>
                        </div>
                        <hr>
                        <div class="amount_wrapper">
                            <div id="add_button_div"><button class="add_button">הוספה</button></div>
                            <div class="choose_amount">
                                <i class="fa fa-minus choose_amount amount_icons"></i>
                                <input class="choose_amount" value="0" type="number"  dir="ltr" data-source-step="0">
                                <i class="fa fa-plus choose_amount amount_icons"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="product__item" data-product_id="2" data-product_price="4.99"  data-quantity="0" product_name="צלעות טלה">
                        <div class="product__item__pic set-bg" data-setbg="{{ url_for("static", filename="img/tale/4.jpg") }}">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">צלעות טלה</a></h6>
                            <h5>10.00</h5>
                        </div>
                        <hr>
                        <div class="amount_wrapper">
                            <div id="add_button_div"><button class="add_button">הוספה</button></div>
                            <div class="choose_amount">
                                <i class="choose_amount fa fa-minus amount_icons"></i>
                                <input class="choose_amount" value="0" type="number" dir="ltr" data-source-step="1">
                                <i class="fa fa-plus choose_amount amount_icons"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="product__item" data-product_id="3" data-product_price="4.99"  data-quantity="0" product_name="צלעות טלה">
                        <div class="product__item__pic set-bg" data-setbg="{{ url_for("static", filename="img/tale/5.jpg") }}">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">צלעות טלה</a></h6>
                            <h5>10.00</h5>
                        </div>
                        <hr>
                        <div class="amount_wrapper">
                            <div id="add_button_div"><button class="add_button">הוספה</button></div>
                            <div class="choose_amount">
                                <i class="choose_amount fa fa-minus amount_icons"></i>
                                <input class="choose_amount" value="0" type="number" dir="ltr" data-source-step="1">
                                <i class="fa fa-plus choose_amount amount_icons"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="product__item" data-product_id="6" data-product_price="4.99"  data-quantity="0" product_name="צלעות טלה">
                        <div class="product__item__pic set-bg" data-setbg="{{ url_for("static", filename="img/tale/8.jfif") }}">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">צלעות טלה</a></h6>
                            <h5>10.00</h5>
                        </div>
                        <hr>
                        <div class="amount_wrapper">
                            <div id="add_button_div"><button class="add_button">הוספה</button></div>
                            <div class="choose_amount">
                                <i class="choose_amount fa fa-minus amount_icons"></i>
                                <input class="choose_amount" value="0" type="number" dir="ltr" data-source-step="1">
                                <i class="fa fa-plus choose_amount amount_icons"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="product__item" data-product_id="2" data-product_price="4.99"  data-quantity="0" product_name="צלעות טלה">
                        <div class="product__item__pic set-bg" data-setbg="{{ url_for("static", filename="img/tale/7.jpg") }}">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">צלעות טלה</a></h6>
                            <h5>10.00</h5>
                        </div>
                        <hr>
                        <div class="amount_wrapper">
                            <div id="add_button_div"><button class="add_button">הוספה</button></div>
                            <div class="choose_amount">
                                <i class="choose_amount fa fa-minus amount_icons"></i>
                                <input class="choose_amount" value="0" type="number" dir="ltr" data-source-step="1">
                                <i class="fa fa-plus choose_amount amount_icons"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="product__item" data-product_id="4" data-product_price="4.99"  data-quantity="0" product_name="צלעות טלה">
                        <div class="product__item__pic set-bg" data-setbg="{{ url_for("static", filename="img/tale/4.jpg") }}">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">צלעות טלה</a></h6>
                            <h5>10.00</h5>
                        </div>
                        <hr>
                        <div class="amount_wrapper">
                            <div id="add_button_div"><button class="add_button">הוספה</button></div>
                            <div class="choose_amount">
                                <i class="choose_amount fa fa-minus amount_icons"></i>
                                <input class="choose_amount" value="0" type="number" dir="ltr" data-source-step="1">
                                <i class="fa fa-plus choose_amount amount_icons"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="product__item" data-product_id="2" data-product_price="4.99"  data-quantity="0" product_name="צלעות טלה">
                        <div class="product__item__pic set-bg" data-setbg="{{ url_for("static", filename="img/tale/5.jpg") }}">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">צלעות טלה</a></h6>
                            <h5>10.00</h5>
                        </div>
                        <hr>
                        <div class="amount_wrapper">
                            <div id="add_button_div"><button class="add_button">הוספה</button></div>
                            <div class="choose_amount">
                                <i class="choose_amount fa fa-minus amount_icons"></i>
                                <input class="choose_amount" value="0" type="number" dir="ltr" data-source-step="1">
                                <i class="fa fa-plus choose_amount amount_icons"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="product__item" data-product_id="5" data-product_price="4.99"  data-quantity="0" product_name="צלעות טלה">
                        <div class="product__item__pic set-bg" data-setbg="{{ url_for("static", filename="img/tale/6.jpg") }}">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">צלעות טלה</a></h6>
                            <h5>10.00</h5>
                        </div>
                        <hr>
                        <div class="amount_wrapper">
                            <div id="add_button_div"><button class="add_button">הוספה</button></div>
                            <div class="choose_amount">
                                <i class="choose_amount fa fa-minus amount_icons"></i>
                                <input class="choose_amount" value="0" type="number" dir="ltr" data-source-step="1">
                                <i class="fa fa-plus choose_amount amount_icons"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
{% endblock %}
